<div class="overlay" *ngIf="showOverlay" (click)="hideOverlay()" @fadeInOut>
    <div style="text-align: center;">
        <img src="../../../assets/img/silueta_.png" class="img-fluid silueta-img" alt="Silueta de pareja">

        <hr class="separador-horizontal">

        <h1 class="fraunces-t1 mt-4" style="color: #5F682F; font-size: 0.9rem;"> 
            BIENVENIDOS A LA INVITACIÓN DE 
        </h1>

        <h1 class="ashley-southine mt-3" style="color: #5F682F; font-size: 3rem;"> 
            Jose & Karla
        </h1>

        <hr class="separador-horizontal mt-4">

        <p class="mt-4 mb-2 p-2 fraunces-t1 mt-3 texto-musica" style="color: #5F682F;">
            LA MÚSICA DE FONDO ES PARTE DE LA EXPERIENCIA
        </p>

        <button class="btn_ingresar fraunces-t1" style="padding: 15px 30px; font-size: 25px;"> 
            Ingresar
        </button>
    </div>
</div>

<div class="content" [@fadeInOut]="(!showOverlay && componentLoaded) ? 'in' : ''" [class.component-loaded]="componentLoaded && !showOverlay">

    <!-- botón audio flotando -->
    <div class="floating-button" (click)="toggleMute()">
        <i [class]="isMuted ? 'fas fa-volume-mute' : 'fas fa-volume-up'"></i>
    </div>
    <!---->


    <div class="container">
        <!-- Imagen arriba dentro del primer container -->
        <div class="row">
            <div class="col-12">
                <img src="../../../assets/img/arriba.png" alt="arriba" class="img-fluid w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto" style="text-align: center;">
                <h1 style="color: #5F682F; font-size: 1.2rem;" class="fraunces-t1 mt-4">¡Nos casamos!</h1>
                <h1 class="ashley-southine mt-3" style="color: #5F682F; font-size: 3rem;"> Jose & Karla </h1>
                <p style="color: #5F682F; font-size: 1.8rem;" class="mt-4">24 • OCT • 2025</p>
            </div>
        </div>
        <div class="row mb-2 p-4 pb-5" data-aos="fade-up">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">            
                <div class="progress position-relative" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemax="100">
                    <div class="progress-bar" style="background-color: #5F682F;" [style.width]="(percentage) + '%'" ></div>
                    <i class="fas fa-music position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); color: #555;"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid px-0">
        <img src="../../../assets/img/transp-1.png" alt="header" class="img-fluid w-100">
    </div>

    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <p class="p-3 pb-0 ps-4 pe-4 text-center fraunces-t1 pt-5" style="color: #555;">Este amor es el vínculo perfecto que une todas nuestras virtudes y da paz para enfrentar los desafíos de la vida junto. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular" style="color: #939168; font-size: 1.5rem;">
                    Con la bendición de Dios y nuestros queridos padres
                </p>


                <p class="p-3 pt-0 fraunces-t1 mb-0" style="text-align: center; font-weight: bold; color: #555;">
                    Padres de la Novia
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    América Buitrón Castro
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1" style="text-align: center; color: #555;">
                    ⁠Carlos Sergio Torres Sánchez
                </p>


                <p class="p-3 pt-0 fraunces-t1 mb-0" style="text-align: center; font-weight: bold; color: #555;">
                    Padres del Novio
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    Martha Delia Castro Laos
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1" style="text-align: center; color: #555;">
                    ⁠Conrado Manuel Álvarez Castro
                </p>


                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0" style="color: #939168; font-size: 1.5rem;">
                    Y en compañia de nuestros padrinos
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    Álvarez Valencia, Piero
                </p>
                <p class="p-3 pt-0 fraunces-t1 pb-5" style="text-align: center; color: #555;">
                    ⁠Galindo Castro, Yuliana
                </p>

            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <img src="../../../assets/img/transp-2.png" alt="header" class="img-fluid w-100">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0 pt-5" style="color: #939168; font-size: 2rem;">
                    Faltan
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div class="countdown-row">
                    <div class="count-rect text-center">
                        <div class="value-ct cormorantInfant-regular">{{ days }}</div>
                        <div class="label-ct">DÍAS</div>
                    </div>
                    <div class="count-rect text-center">
                        <div class="value-ct cormorantInfant-regular">{{ hours }}</div>
                        <div class="label-ct">HORAS</div>
                    </div>
                    <div class="count-rect text-center">
                        <div class="value-ct cormorantInfant-regular">{{ minutes }}</div>
                        <div class="label-ct">MINUTOS</div>
                    </div>
                    <div class="count-rect text-center">
                        <div class="value-ct cormorantInfant-regular">{{ seconds }}</div>
                        <div class="label-ct">SEGUNDOS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="../../../assets/img/separador.png" alt="separador" class="img-fluid p-3">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/img/iglesia.png" alt="vestimenta" class="img-fluid mt-4" style="max-width: 100px; width: 100%;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0" style="color: #939168; font-size: 2rem">
                    Ceremonia Religiosa
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    Hora: 2:00 p.m.
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    Lugar: Parroquia Nuestra Señora de Guadalupe
                </p>

                <div style="display: flex; justify-content: center;" class="mb-5 mt-4">
                    <a target="_blank" href="https://www.google.com/maps/place/Iglesia+Alianza+Josea+y+Misionera+de+Huaral/@-11.4998949,-77.2182722,17z/data=!3m1!4b1!4m6!3m5!1s0x91068b1242391139:0xb9359bcbf0a0be7d!8m2!3d-11.4998949!4d-77.2182722!16s%2Fg%2F11mvq864zb?sa=X&ved=1t:2428&ictx=111&entry=tts&g_ep=EgoyMDI0MTIxMS4wIPu8ASoASAFQAw%3D%3D">
                        <img src="../../../assets/img/btn-click.png" alt="btn-click" class="img-fluid" style="max-width: 150px; width: 100%;">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div style="display: flex; justify-content: center;" data-aos="fade-up">
                    <img src="../../../assets/img/recepcion.png" alt="vestimenta" class="img-fluid mt-4" style="max-width: 110px; width: 100%; padding-top: 40px;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0" style="color: #939168; font-size: 2rem;" data-aos="fade-up">
                    Recepción
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;" data-aos="fade-up">
                    Lugar: Local “Las Chanas”
                </p>
               
                <div style="display: flex; justify-content: center;" class="mb-5 mt-4" data-aos="fade-up">
                    <a target="_blank" href="https://www.google.com/maps/place/Fundo+Maratuech/@-11.5004805,-77.2177609,16z/data=!4m7!3m6!1s0x91068bffc9b7d771:0x23607b4a1317fdff!8m2!3d-11.5044619!4d-77.2134741!15sChdjYXNhIGhhY2llbmRhIG1hcmF0dWVjaFoZIhdjYXNhIGhhY2llbmRhIG1hcmF0dWVjaJIBCnBsYXlncm91bmSaASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVUXphMlZxTTB4M0VBReABAPoBBAgAEDg!16s%2Fg%2F11r_x85yb_?entry=tts&g_ep=EgoyMDI0MTIxMS4wIPu8ASoASAFQAw%3D%3D">
                        <img src="../../../assets/img/btn-click.png" alt="btn-click" class="img-fluid" style="max-width: 150px; width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <img src="../../../assets/img/transp-3.png" alt="header" class="img-fluid w-100">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/img/vestimenta.png" alt="vestimenta" class="img-fluid mt-5" style="max-width: 130px; width: 100%; padding-top: 40px;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular" style="color: #939168; font-size: 2rem">
                    Código de vestimenta
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1" style="text-align: center; color: #555;">
                    Prepárense para una boda llena de colores, dejen el blanco para la novia
                </p>
            </div>
        </div>


        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/img/deseo.png" alt="vestimenta" class="img-fluid mt-4" style="max-width: 100px; width: 100%;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0" style="color: #939168; font-size: 2rem;">
                    Buzón de deseos
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    Nos encantaría leer tus buenos deseos.
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    ¡Déjanos un mensaje que recordaremos por siempre!
                </p>
               
                <div style="display: flex; justify-content: center;" class="mb-5 mt-4">
                    <a (click)="showDeseosForm()">
                        <img src="../../../assets/img/btn-memsaje.png" alt="btn-click" class="img-fluid" style="max-width: 150px; width: 100%;">
                    </a>
                </div>
            </div>
        </div>


        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/img/musica.png" alt="vestimenta" class="img-fluid mt-4" style="max-width: 130px; width: 100%; padding-top: 40px;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular mb-0" style="color: #939168; font-size: 2rem;">
                    Sugerencia de canciones
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    ¿Cuáles son esas canciones que no pueden faltar en nuestra boda?
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1 mb-0" style="text-align: center; color: #555;">
                    ¡Comparte tus favoritas con nosotros!
                </p>
               
                <div style="display: flex; justify-content: center;" class="mb-5 mt-4">
                    <a (click)="showCancionesForm()">
                        <img src="../../../assets/img/btn-canciones.png" alt="btn-click" class="img-fluid" style="max-width: 150px; width: 100%; cursor: pointer;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <img src="../../../assets/img/transp-4.png" alt="header" class="img-fluid w-100">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up">
                <div style="display: flex; justify-content: center;">
                    <img src="../../../assets/img/calendario.png" alt="vestimenta" class="img-fluid mt-4" style="max-width: 110px; width: 100%; padding-top: 40px;">
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center satisfy-regular" style="color: #939168; font-size: 2rem;">
                    Confirmar asistencia
                </p>
                <p class="p-3 pt-0 pb-0 fraunces-t1" style="text-align: center; color: #555;">
                    Tu presencia es muy importante para nosotros, por favor confirmanos tu asistencia hasta el <b>13 de Octubre.</b>
                </p>
                <div style="display: flex; justify-content: center;" class="mb-5 mt-4">
                    <a (click)="openWhatsApp()">
                        <img src="../../../assets/img/btn-whatsapp.png" alt="btn-click" class="img-fluid" style="max-width: 150px; width: 100%; cursor: pointer;">
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/iniciales.png" alt="iniciales" class="img-fluid mb-4" style="max-width: 100px; width: 100%;">
                    </div>
                </div>
                <p class="p-3 pb-0 ps-4 pe-4 text-center fraunces-t1" style="color: #555;">
                    Con mucha ilusión queremos vivir este momento rodeados de personas que han formado parte de nuestras historia. Será un honor contar con tu presencia.
                </p>
                <p class="p-3 pt-4 pb-4 ashley-southine mb-4" style="text-align: center; font-size: 2rem; color: #939168;">
                    ¡Te Esperamos!
                </p>
                
                <div class="row">
                    <div class="col-12">
                        <img src="../../../assets/img/abajo-flores.png" alt="abajo-flores" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>